<?xml version="1.0" encoding="UTF-8"?>
<configuration status="off">
	<Properties>
		<!-- 
		<Property name="LOG_HOME">D:/myproject/stsgrd/sprInAct/logs</Property>
		<Property name="LOG_NAME">weblog4j</Property>
		-->
	</Properties>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread][%class.%method:%line] - %msg%n" 
				charset="UTF-8"/>
		</Console>
		<!-- 
		<RollingFile name="log" fileName="${LOG_HOME}/${LOG_NAME}.log"
			filePattern="${LOG_HOME}/${LOG_NAME}.%d{yyyy-MM-dd}.log" append="true">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss}   %-5level [%thread][%file:%line] - %msg%n" 
				charset="UTF-8"/>
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true"
					interval="1" />
			</Policies>
			<DefaultRolloverStrategy max="180" />
		</RollingFile>
		-->
	</appenders>
	<loggers>
		<root level="info">
			<AppenderRef ref="Console" />
			<!-- 
			<AppenderRef ref="log" />
			-->
		</root>
	</loggers>
</configuration> 